.register{

    grid-row: 2/3;
    grid-column: 2/4;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.603);
    overflow: hidden;

    &_illustration{
        justify-self: center;
        align-self: center;
        // background-color: white;
        grid-column: 1/2;
    }
    &_img{
        height: 70%;
        width: 70%;
        align-self: center;
    }

    &_box{
        grid-column: 2/3;
        height: 100%;
        background-color:  #3b3b3b;
    }

    &_heading{
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: white;
        margin-bottom: 2rem;
    }
    &_subheading{
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        // font-weight: bold;
        color: white;
        margin-bottom: 2rem;
    }

    &_form{
        
        
        &_container:not(:last-child){
            margin-bottom: 1.5rem;
        }
        &_input{ 
            padding: 1.5rem 2rem;
            border-radius: 3px;
            border: none;
            font-size: 1.2rem;
            font-family: 'Roboto', sans-serif;
            border-bottom:  3px solid transparent;
            width: 50%;
            display: block;
            color: inherit;
            background-color: rgb(226, 212, 212);
            margin: auto;

            &::-webkit-input-placeholder{
                color: rgb(92, 98, 226); 
                }
        
            &:focus{
                outline: none;
                border-bottom:  3px solid rgb(92, 98, 226);
            }
            &:focus:invalid{
                border-bottom: 3px solid  orangered;
            }
        }
        &_input:placeholder-shown + &_label{
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }
        &_input::placeholder{
            text-align: center;
            color: black;
        }
        &_label{
            font-size: 1.2rem;
            font-weight: 400;
            margin-top: .7rem;
            display: block;
            transition: all .3s;
            font-family: 'Roboto', sans-serif;
            color: white;
        }
        &_button{
            background-color: rgb(92, 98, 226);
            color: white;
            padding: 1rem 1.5rem;
            border: none;
            border-radius: 20px;
            transition: all .2s;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;

            &:hover{
                background-color: orangered;
                transform: translateY(-3px);
            }
            &:active{
                background-color: green;
                color: black;
                transform: translateY(-1px);
            }
        }
    }
    &_page_register{
        color: orangered;
        font-weight: bold;
        text-decoration: none;

        &:hover{
            color: green;
        }
    }
    &_para{
        color: white;
    }
}